<div class="row text-center">
<ul id="slides">
  <% @users.each do |user, i| %>
    <li class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
   <div id="Indicators" class="carousel slide" data-ride="carousel" style="background-image: url('<%= url_for user.images.first %>')">
  <ol class="carousel-indicators">
    <li data-target="#Indicators" data-slide-to="0" class="active"></li>
    <li data-target="#Indicators" data-slide-to="1"></li>
    <li data-target="#Indicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= url_for user.images.first %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= url_for user.images.first %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= url_for user.images.first %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#Indicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#Indicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      <%= user.first_name %>
    </li>
  <% end %>
</ul>
<div class="btn-group mt-4 mb-1" role="group" aria-label="Basic example">
  <button type="button" id="decline" class="btn btn-lg btn-danger"><i class="fa fa-thumbs-down fa-3x"></i>Decline</button>
  <button type="button"  id="approve" class="btn btn-lg btn-success"><i class="fa fa-thumbs-up fa-3x"></i>Approve</button>
</div>
  <div class="jumbotron mt-3">
  <div class="col-12 mb-md text-center">
  <%= link_to image_tag('logo_small.png'), root_path, class: "navbar-brand" %>
  <p class="lead">The World Finest Matchmaking App</p>
</div>
</div>


